.time-container h2 {
    font-size: 65px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.time-container h1 {
    font-size: 150px;
    text-align: center;
    margin: 0px;
}

.time-container p {
    font-size: 70px;
    text-align: center;
    margin-top: 10px;
}